<p>
  guestlist works!
</p>
<div *ngIf="guests">
	<ol>
		<li *ngFor="let guest of guests">
			{{ guest.firstName }} {{ guest.lastName }} ({{ guest.dateOfBirth }})
		</li>
	</ol>
</div>
<!-- <input [(ngModel)]="searchGuest.firstName">
<div>
	{{ searchGuest.firstName }}
</div> -->
<div>
	<label for="">First Name:</label>
	<input [(ngModel)]="searchGuest.firstName">
</div>
<div>
	<label for="">Last Name:</label>
	<input [(ngModel)]="searchGuest.lastName">
</div>
<button (click)="getPeople(searchGuest)">Search</button>